
<div class="content">
  <div class="container">
    <div class="content_main">
      <div class="content_main__timer">
        <div class="timer-data"><img src="../img/timer_sm.png" alt="timer"/>
          <div class="timer-data__result">
            <p>общее время</p><span id="timer2">00.000</span>
          </div>
        </div>
      </div>
      <div class="content_main__questions">
        <div class="questions__circle">
          <svg id="svg1" width="230" height="230" fill="none">
            <circle cx="115" cy="115" r="110" stroke="#00ff00" stroke-width="5px" stroke-dasharray="1000" stroke-dashoffset="1000" class="outer">
              <animate attributeName="stroke-dashoffset" values="1000; 0" dur="27.5s" repeatCount="1" fill="freeze" calcMode="linear"></animate>
            </circle>
          </svg>
          <div class="questions__circle__data">
            <p>время на ответ</p>
            <div class="time"><span id="timer_sec">20.</span><span id="timer_mili">000</span></div>
          </div>
        </div>
        <div class="questions__this">
          <p>На каком курсе школы Хогвартс учился Гарри Поттер, когда раскрыл секрет Тайной комнаты?</p>
        </div>
        <ul class="questions__answer">
          <li class="questions__answer__items"><span>1:</span>
            <p>На первом</p>
          </li>
          <li class="questions__answer__items"><span>2:</span>
            <p>На втором</p>
          </li>
          <li class="questions__answer__items"><span>3:</span>
            <p>На третьем</p>
          </li>
          <li class="questions__answer__items"><span>4:</span>
            <p>На четвёртом</p>
          </li>
        </ul>
      </div>
      <div class="content_main__table">
        <div class="table_wrap">
          <ol class="table">
            <li class="table__items"><span class="table__result">7,081</span>
              <p class="table__name">Оля Маклай</p>
            </li>
            <li class="table__items"><span class="table__result">8,561</span>
              <p class="table__name">Ваня Дробыш</p>
            </li>
            <li class="table__items"><span class="table__result">8,998</span>
              <p class="table__name">Добрый кроль</p>
            </li>
            <li class="table__items"><span class="table__result">9,356</span>
              <p class="table__name">Костя Павлов</p>
            </li>
            <li class="table__items"><span class="table__result">9,687</span>
              <p class="table__name">Argon3000</p>
            </li>
            <li class="table__items"><span class="table__result">10,281</span>
              <p class="table__name">ДрузьяидутвАтаку</p>
            </li>
            <li class="table__items"><span class="table__result">10,698</span>
              <p class="table__name">Борода</p>
            </li>
            <li class="table__items"><span class="table__result">10,987</span>
              <p class="table__name">Trump</p>
            </li>
            <li class="table__items"><span class="table__result">11,235</span>
              <p class="table__name">Милашка</p>
            </li>
            <li class="table__items"><span class="table__result">11,987</span>
              <p class="table__name">Яна Борисова</p>
            </li>
            <li class="table__items"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
            <li class="table__items"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
            <li class="table__items"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
            <li class="table__items"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
            <li class="table__items"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
            <li class="table__items your-result"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
            <li class="table__items"><span class="table__result">12,569</span>
              <p class="table__name">Антон Городецкий</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>