
<div class="questions">
  <div class="container">
    <div class="numbers">
      <ul class="numeric">
        <li><a href="#" class="true">1</a></li>
        <li><a href="#" class="false">2</a></li>
        <li><a href="#" class="current">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">12</a></li>
        <li><a href="#">13</a></li>
      </ul>
    </div>
  </div>
</div>